@font-face {
  font-family: Champion;
  src: url('../public/data/Champion-HTF-Featherweight.otf');
  font-size: 1em;
}
* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;  /* font-family: monospace; */
  /* font-size: 1.05em; */
}
::placeholder {
  color: #ebac1a;
}
body {
  background: url('../public/data/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

button, [type='button'], [type='reset'], [type='submit'] {
  border: none;
  cursor: pointer;
  background-color: #ebac1a!important;
  padding: 1em;
  font-size: 1em;
  position: relative;
  display: block;
  width: 20em;
  max-width: 90vw;
  text-align: center;
  margin: 0 auto;
}

#taptoplay, #taptoLeader {
  position: fixed;
  bottom: 1em;
  right: 2em;
  /* width: 15%; */
  font-weight: bold;
}
.connectButton {
  background-color: rgb(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: 1em;
  left: 1.5em;
  font-size: 1em;
  width: 15%;
  font-weight: bold;
}
a {
  color: white;
  padding: 1.2em!important;
  width: fit-content;
  position: relative;
  display: block;
  width: 20em;
  max-width: 90vw;
  text-align: center;
  margin: 0 auto;
}

flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  color: #ebac1a;
  padding: 1em;
  margin: 1em;
  display: block;
  width: 40vw;
  text-align: center;
  margin: 0 auto;
  margin-left: 2vw;
  margin-top: 1em;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background: transparent;
  border-radius: .3em;
  /* backdrop-filter: blur(1px); */
  filter: drop-shadow();
}

#nameInput, #emailInput {
  font-size: 1.5em;
  /* background-color: rgba(000, 000, 000, 0.5); */
  position: absolute;
  text-align: left;
  /* z-index: -2; */
  margin-left: .3em;
  /* text-shadow: -.5px -.5px 0 #fff, .5px -.5px 0 #fff, -.5px .5px 0 #fff, .5px .5px 0 #fff; */
}
#nameInput {
  width: fit-content;
  top: -2.6em;
  margin-lefT: 1.5em;
  transform: rotate(-8deg);
  color: white;
}
#nameInput::placeholder {
  color: white;
}
#emailInput {
  top: .8em;
  margin-left: 1em;
  transform: rotate(3deg);
  font-size: 1.2em;
}

.inputsDiv {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  display: block;
}

.canvasdb {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  margin-left: 45vw;
  height: 95vh;
  /* border:5px solid rgb(255, 255, 255, 1); */
  /* background-color: black; */

}

.swal2-html-container {
  margin: 0 auto;
}

.swal-red {
  color: #ebac1a;
}

#tableLeaderboard table {
  margin: 0 auto;
  margin-top: 3em;
}

td {
  min-width: 8em!important;
}

tbody td, th {
  padding: 1.5em;
  margin: 0;
}

tbody tr:not(:first-child) {
  background-color: #ebac1a;
  color: black;
  font-weight: bold;
}

tbody th {
  background-color: rgb(0, 0, 0, .86);
  transform: rotate(-6deg);
  backdrop-filter: saturate(180%) blur(2px);
}

#blackboxName {
  background-color: black;
  width: 15em;
  height: 3em;
  position: absolute;
  transform: rotate(-8deg);
  margin-lefT: 2em;
  top: -1em;
}
#blackboxEmail {
  background-color: black;
  width: 19em;
  height: 3em;
  position: absolute;
  margin-top: 2.2em;
  transform: rotate(3deg);
}

#totalBox {
  background-color: rgb(0, 0, 0, 0.5);
  width: 8em;
  height: 5em;
  position: fixed;
  /* z-index: -10; */
  right: 0;
  top: 1em;
  transform: rotate(10deg);
}

#titleTotal {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: .5em;
  margin-right: .5em;
}

#spanTotal {
  color: #ebac1a;
  text-shadow: -2px 0 white, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 4.2em;
  position: absolute;
  transform: rotate(-8deg);
  margin-top: -.2em;
  margin-left: .2em;
}

#blackboxHit1, #blackboxHit2, #blackboxHit3, #blackboxHit4, #blackboxHit5, #blackboxHit6 {
  background-color: black;
  width: 8em;
  height: 2.8em;
  position: absolute;
  z-index: 1;
  margin-top: 7em;
  margin-left: 1em;
  transform: rotate(-0deg);
  /* border: px solid orange; */
}
#blackboxHit2, #blackboxHit5 {
  margin-top: 10.5em;
}
#blackboxHit3, #blackboxHit6 {
  margin-top: 14em;
}

#blackboxHit4, #blackboxHit5, #blackboxHit6 {
  margin-left: 10em;
}

.spanHit {
  position: absolute;
  top: .7em;
  left: .2em;
  z-index: 999999;
  color: white;
}

.spanResult {
  position: absolute;
  top: -.1em;
  left: 67%;
  transform: rotate(-5deg);
  color: #ebac1a;
  font-size: 2.8em;
  text-shadow: -2px 0 white, 0 1px black, 2px 0 black, 0 -1px black;
}

.spanResult2, .spanResult6 {
  transform: rotate(8deg);
}
.spanResult3, .spanResult4 {
  transform: rotate(-2deg);
}

/* bigger screens */
/* @media screen and (min-width: 1000px) { */
  #blackboxHit1, #blackboxHit2, #blackboxHit3 {
    margin-left: 4.5em;
  }
  #blackboxHit4, #blackboxHit5, #blackboxHit6 {
    margin-left: 14em;
  }

  .inputsDiv {
    margin-lefT: 5em;
    top: 5em;
  }

  #blackBoxes {
    position: absolute;
    top: 8em;
  }

  #totalBox {
    position: fixed;
    top: 2em;
    right: 2em;
  }

  .swal2-input {
    margin: .5em auto;
  }

  #taptoplay, #taptoLeader {
    background-color: black;
    border-radius: 100%;
    width: 6.5em;
    height: 6.5em;
  }

  #tapSpan {
    position: absolute;
    font-size: 1.8em;
    bottom: 25%;
    left: 1%;
  }

  #taptoLeader {
    bottom: 1em;
    width: 6em;
    height: 6em;
    right: 1em;
  }
  #tapLeaderboard {
    position: absolute;
    font-size: 1.1em;
    bottom: 35%;
    left: 0;
  }
  /* } */